*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url(form.jpg);
    
}


.col-11{
    margin-top: 30px;
    margin-left: 28px;
    text-align: center;
}

.col-sm-12{
    font-size:medium;
}
h1, h2,h4{
    color: black;
    text-align: center;
}
